body{
    margin: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-12 {
    width: 100%;
}

.col-10 {
    width: 83.33%;
}

.col-8 {
    width: 66.66%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66%;
}

@media only screen and (min-width: 1000px) {
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
}

@media only screen and (max-width: 999px) and (min-width: 450px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
}