body{
    margin: 0px;
    padding: 0px;
}

.row{
    background-color: salmon;
    border: 2px solid black;
    border-radius: 25px;
    margin: 50px;
    padding: 15px;
    display: flex;
}

.box{
    width: 20%;
    margin: 15px;
    
    background-color: rgb(210, 100, 90);
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
}

.start{
    justify-content: flex-start;
}

.center{
    justify-content: center;
}

.end{
    justify-content: flex-end;
}

