body{
    margin: 0px;
    height: 100vh;
    background-color: rgb(233, 76, 76);
}

header{
    height: 100px;
    background-color: brown;
}

.row{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.container{
    height: 250px;
    width: 250px;
    background-color: black;
    opacity: 0.6;
    border-radius: 25px;
}